blinker==1.4
blueprint==3.4.2
Blueprints==2.3.0.2
dicttoxml==1.7.4
Flask==0.10.1
Flask-Mail==0.9.1
Flask-Responses==0.2
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
jsonify==0.5
MarkupSafe==0.23
pg8000==1.10.6
psycopg2==2.6.2
python-mimeparse==0.1.4
six==1.10.0
SQLAlchemy==1.0.14
testing.common.database==1.1.0
traceback2==1.4.0
virtualenv==15.0.2
Werkzeug==0.11.10
