<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>App de prueba</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> 
</head>
 
<body>
 
    <div class="container-fluid">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="signIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="signUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bienvenido.</h3>
        </div>
 		<h1>App de prueba</h1>
        	
        <div class="row marketing">
            <div class="col-md-6">
                <h4>Administración de usuarios</h4>
                <p>Creacion y adminitracion de credenciales.</p>
 
                <h4>Administración de privilegios y acceso a recursos de la aplicación.</h4>
                <p>Mediante un panel de administrador tiene la posibilidad de tener el control de usuarios y grupos de usuarios, mantener el control de las cuentas y del acceso. Esto permitira tener un contorl exhaustivo de la aplicacion y quien accede a los datos de la misma.</p>
 
                <h4>Administracion de Tickets de forma sencilla y practica</h4>
                <p>Con multiples filtros de busqueda y administracion de tickets. </p>
            </div>
 
            <div class="col-md-6">
                <h4>Estadisticas en tiempo real.</h4>
                <p>Estadisticas de venta y incidencias de tickets, podra ver el flujo de cada uno de los tickets y la resolucion de cada uno de forma global o particular.</p>
 
                <h4>Soporte y Autorizacion</h4>
                <p>Niveles de seguridad necesarios para continuar o no procesos una ves son iniciados en la plataforma. Notificaciones en tiempo real a los usuarios competentes de cada area para atender cada uno de los incidentes.</p>
 
                <h4>Alertas personalizadas</h4>
                <p>Administracion de alertas para tickets particulares y seguimiento de los mismos.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>