<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="dash">Dash</a></li>
            <li role="presentation"><a href="signin">Sign In</a></li>            
          </ul>
        </nav>
        <h3 class="text-muted">Bienvenidos.</h3>
      </div>
 
      <div class="jumbotron">
        <h2 class="text-muted" >New admin user</h2>
        <form class="form-signin">
	        <label for="inputName" class="sr-only">Name</label>
	        <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required min="4" max="45" autofocus>
	        
	        <label for="inputUserEmail" class="sr-only">Email address</label>
	        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	        
	        <label for="inputUserEmailRecovery" class="sr-only">Email recovery address</label>
	        <input type="email" name="inputEmailRecovery" id="inputEmailRecovery" class="form-control" placeholder="Email address" required autofocus>
	
	        <label for="inputUserDescription" class="sr-only">Description</label>
	        <input type="text" name="inputDescription" id="inputDescription" class="form-control" placeholder="Description" required autofocus>
	
	        <label for="inputUserStatus" class="sr-only">Status</label>
	        <input type="text" name="inputUserStatus" id="inputUserStatus" class="form-control" placeholder="Status" hidden="hidden" >
	
	        <label for="inputUserLevel" class="sr-only ">Level</label>
	        <input type="text" name="inputUserLevel" id="inputUserLevel" class="form-control" placeholder="User level" required autofocus>
	
	        <label for="inputUserPassword" class="sr-only">Password</label>
	        <input type="password" name="inputUserPassword" id="inputUserPassword" class="form-control" placeholder="User Password" required>
	        
	        <label for="inputUserPasswordMatch" class="sr-only">Password Match</label>
	        <input type="password" name="inputUserPasswordMatch" id="inputUserPasswordMatch" class="form-control" placeholder="User Password Match" required>
	         
	        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      	</form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        $(function() {
            $('#btnSignUp').click(function() {
         		alert($('form').serialize());
                $.ajax({
                    url: '/signup',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });


    </script>
  </body>
</html>